﻿@model REM.Web.Models.LandViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>حذف ملک</h3>

<h4>آیا از حذف این ملک اطمینان دارید؟</h4>
<div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandName)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandName)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandCode)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandCode)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandAddress)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandAddress)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.Area)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.IsNorthern)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.IsNorthern)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandlordName)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandlordName)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandlordCellphone)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandlordCellphone)
        </div>
    </div>

    <form asp-action="Delete">
        <input type="submit" value="حذف" class="btn btn-danger" />
        <br/>
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
