﻿@model REM.Web.Models.LandViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>جزئیات ملک</h3>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandName)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandName)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandCode)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandCode)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandAddress)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandAddress)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.Area)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.IsNorthern)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.IsNorthern)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandlordName)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandlordName)
        </div>
        <div class="col-sm-2">
            <b>
                @Html.DisplayNameFor(model => model.LandlordCellphone)
            </b>
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.LandlordCellphone)
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.LandId }) 
    <br/>
    <a asp-action="Index">Back to List</a>
</div>
