﻿@model REM.Web.Models.LandViewModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .filter-option-inner-inner, .dropdown-menu {
        text-align: right !important;
    }
</style>

<h1>ویرایش ملک</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="editLand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="LandName" class="control-label col-md-2"></label>
                    <input asp-for="LandName" class="form-control col-md-7" />
                    <span asp-validation-for="LandName" class="text-danger col-md-3"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="LandCode" class="control-label col-md-2"></label>
                    <input asp-for="LandCode" class="form-control col-md-7" />
                    <span asp-validation-for="LandCode" class="text-danger col-md-3"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="Area" class="control-label col-md-2"></label>
                    <input asp-for="Area" class="form-control col-md-7" />
                    <span asp-validation-for="Area" class="text-danger col-md-3"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="LandlordId" class="control-label col-md-2"></label>
                    <select asp-for="LandlordId" asp-items="@(new SelectList(Model.LandlordItems, "Value", "Text"))"
                            class="form-control col-md-7 selectpicker" title="لطفا انتخاب کنید" data-live-search="true">
                    </select>
                    <span asp-validation-for="LandlordId" class="text-danger col-md-3"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="LandAddress" class="control-label col-md-2"></label>
                    <textarea asp-for="LandAddress" class="form-control col-md-7"></textarea>
                    <span asp-validation-for="LandAddress" class="text-danger col-md-3"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNorthern" /> @Html.DisplayNameFor(model => model.IsNorthern)
                </label>
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <button onclick="submitForm('editLand')" class="btn btn-primary">ذخیره</button>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
