﻿@model IEnumerable<REM.Web.Models.LandViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>لیست ملک ها</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNorthern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandlordCellphone)
            </th>
            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @(item.IsNorthern ? "بله" : "خیر" )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandlordCellphone)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id=item.LandId }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.LandId }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.LandId })
            </td>
        </tr>
}
    </tbody>
</table>
